* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

/*Flexbox display if present*/
.flexbox body {
    display: flex;
    flex-direction: column;
}

.flexbox header {
    flex: 0 0 100px;
    background-color: #000;
    color: #fff;
    /*line-height: 100px;*/
    text-align: center;
    display: flex;
    align-items: center;
}

.flexbox main {
    flex-grow: 1;
}

.flexbox footer {
    flex: 0 0 28px;
    background-color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
}
